mixin room-reservation(options)
  div.room-reservation
    div.room-reservation__inner
      +room-data({size: 'big', number: "888", class: "Люкс", price: "9 990₽"})
      div.room-reservation__dropdown_type_date
        +date-dropdown({hint: "ДД.ММ.ГГГГ", type: 'date',
                        name: "Прибытие,Выезд",
                        value: "19.08.2019,23.08.2019"})
      div.room-reservation__dropdown_type_guests
        +dropdown({name:"Гости", value: "3 гостя", hint: "", type: 'guests',
                 item: "Взрослые,Дети,Младенцы",
                 counter: "0,0,0"})
      div.room-reservation__calculations
        div.room-reservation__calculations-text
          label.room-reservation__all-day-price-formula 9 990₽ x 4 суток
          label.room-reservation__services-price-text Сбор за услуги: скидка 2 179₽
          label.room-reservation__additional-services-price-text Сбор за дополнительные услуги
        div.room-reservation__calculations-info
          div.room-reservation__info i
          div.room-reservation__info i
        div.room-reservation__calculations-price
          label.room-reservation__all-day-price 39 960₽
          label.room-reservation__services-price 0₽
          label.room-reservation__additional-services-price 300₽
      div.room-reservation__total-price-wrapper
        h2.room-reservation__total-total-price-text Итого
        div.room-reservation__dots
        h2.room-reservation__total-price 38 081₽
      +button({text: "Забронировать", textcolor: 'white', size: 'big'})