mixin room-reservation(options)
  div.room-reservation
    div.room-reservation__inner
      div.room-reservation__room-data
        div.room-reservation__room-data-inner
          h3.room-reservation__no №
          h1.room-reservation__number 888
          h3.room-reservation__class Люкс
        div.room-reservation__room-data-inner
          label.room-reservation__price-per-day 9 990₽
          label.room-reservation__comment в сутки
      div.room-reservation__dropdown_type_date
        div.room-reservation__dropdown_type_start-date
          +dropdown({name:"Прибытие", value: "19.08.2019", hint: "", type: 'date'})
        div.room-reservation__dropdown_type_end-date
          +dropdown({name:"Выезд", value: "23.08.2019", hint: "", type: 'date'})
      div.room-reservation__dropdown_type_guests
        +dropdown({name:"Гости", value: "3 гостя", hint: "", type: 'guests',
                 item: "Взрослые,Дети,Младенцы",
                 counter: "0,0,0"})
      div.room-reservation__calculations
        div.room-reservation__calculations-text
          label.room-reservation__all-day-price-formula 9 990₽ x 4 суток
          label.room-reservation__services-price-text Сбор за услуги: скидка 2 179₽
          label.room-reservation__additional-services-price-text Сбор за дополнительные услуги
        div.room-reservation__info-wrapper
          div.room-reservation__info i
          div.room-reservation__info i
        div.room-reservation__calculations-price
          label.room-reservation__all-day-price 39 960₽
          label.room-reservation__services-price 0₽
          label.room-reservation__additional-services-price 300₽
      div.room-reservation__total-price-wrapper
        h2.room-reservation__total-total-price-text Итого
        div.room-reservation__dots
        h2.room-reservation__total-price 38 081₽
      +button({text: "Забронировать", textcolor: 'white', size: 'big'})