mixin advantage(options)
  div.advantage
    div.advantage__inner
      i.material-icons.advantage__icon #{options.icon}
      div.advantage__specification
        label.advantage__title= options.title
        label.advantage__description= options.description