@import "/utils/fonts.scss"; //общий
@import "../../blocks/Sheet/sheet.scss";
@import "../../blocks/ColorsAndType/color.scss";
@import "../../blocks/ColorsAndType/font.scss";
@import "../../blocks/FontElements/textfield";
@import "../../blocks/FontElements/dropdown";
@import "../../blocks/FontElements/rectang"; //общий
@import "../../blocks/FontElements/materials-icons"; //общий
@import "../../blocks/FontElements/listitem";

html{
  width:4405px;
 // height: 2750px;
}

%heads_bold-margin { //h1,h2,h3
  font-weight: bold;
  margin: 0px 0px;
  color: #1F2041;
}

%heads_font-spacing { //h1,h2
  font-family: 'Conv_Quicksand-Medium';
}

h1 {
  @extend %heads_bold-margin;
  @extend %heads_font-spacing;
  font-size: 24px;
}

h2 {
  @extend %heads_bold-margin;
  @extend %heads_font-spacing;
  font-size: 19px;
}

h3 {
  @extend %heads_bold-margin;
  font-size: 12px;
  font-family: 'Conv_Montserrat-Medium';
  text-transform: uppercase;
}

body {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Conv_Montserrat-Light';
  font-size: 14px;
}

.textfield ::placeholder {
  color: rgba(31, 32, 65, 0.25);
}