@import "../../blocks/ColorsAndType/color.scss";
@import "/utils/fonts.scss";
@import "../../blocks/Sheet/sheet.scss";

$FontSize: 19px;

h2 {
  font-family: 'Conv_Quicksand-Medium';
  font-weight: bold;
  font-size: $FontSize;
  letter-spacing: 0.3px;
  margin-bottom: -1px;
}

.wrapper{
  position: absolute;
  margin: 34px 120px 0px 120px;

  width: 269.26px;
  height: 610px;
}