@import "/utils/fonts.scss"; //общий стиль
@import "../../blocks/Sheet/sheet.scss";

@import "../../blocks/ColorsAndType/color.scss";
@import "../../blocks/ColorsAndType/font.scss";

@import "../../blocks/FormElements/materials-icons"; //общий стиль

@import "../../blocks/FormElements/textfield/textfield"; 
@import "../../blocks/FormElements/dropdown/dropdown";
@import "../../blocks/FormElements/checkbox/checkbox";
@import "../../blocks/FormElements/advantage/advantage";
@import "../../blocks/FormElements/radiobutton/radiobutton";
@import "../../blocks/FormElements/toggle/toggle";
@import "../../blocks/FormElements/likebutton/likebutton";
@import "../../blocks/FormElements/ratebutton/ratebutton";
@import "../../blocks/FormElements/review/review";
@import "../../blocks/FormElements/rangeslider/rangeslider";
@import "../../blocks/FormElements/button/button";
@import "../../blocks/FormElements/caption/caption";
@import "../../blocks/FormElements/icon/icon";
@import "../../blocks/FormElements/pagination/pagination";

.ui-kit {
  width: 330%;
  max-width: 4405px;
  min-height: 2796px;
}

%heads_bold-margin { //h1,h2,h3
  font-weight: bold;
  margin: 0px 0px;
  color: #1F2041;
}

%heads_font { //h1,h2
  font-family: 'Conv_Quicksand'; //Medium
}

h1 {
  @extend %heads_bold-margin;
  @extend %heads_font;
  font-size: 24px;
}

h2 {
  @extend %heads_bold-margin;
  @extend %heads_font;
  font-size: 19px;
}

h3 {
  @extend %heads_bold-margin;
  font-size: 12px;
  font-family: 'Conv_Montserrat'; //Meduim
  font-weight: 500;
  text-transform: uppercase;
}

body {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Conv_Montserrat'; //Light
  font-weight: 300;
  font-size: 14px;
}

label {
  display: block;
}

.textfield ::placeholder {
  color: rgba(31, 32, 65, 0.25);
}