.sign-in {
    width: 120%;
    max-width: 1440px;
    max-height: 1197px;
    .sign-in__inner {
        width: 100%;
        min-height: 683px;
        background: url('../../pug/pages/authentication-background.png') no-repeat 50% 79%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}