include ../../blocks/Sheet/sheet

doctype html
html(lang="en")
  head
    meta(chaset="UTF-8")
    title Ui-Kit
    
  body
    +sheet('ColorsAndTypes')
    +sheet('Cards')
    +sheet('HeadersAndFooters')
    +sheet('FormElements')
      // .class(cell-green)