doctype html
include ../../blocks/Sheet/sheet
html(lang="en")
  head
    meta(chaset="UTF-8" name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords" content="Ui-Kit")
    meta(name="description" content="Ui-Kit")
    title Ui-Kit
    
  body
    div.ui-kit
      div.ui-kit__inner
        +sheet({name: "colors-and-types"})
        +sheet({name: "form-elements"})
      +sheet({name: "cards"})
      +sheet({name: "headers-and-footers"})
      // .class(cell-green)