.account-registration {
    width: 100%;
    max-width: 380px;
    min-height: 646px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    .account-registration__inner {
        max-width: 320px;
        min-height: 576px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-top: 10px;
        .account-registration__title {
            margin-bottom: 10px;
        }
        .account-registration__radiobutton {
            display: flex;
            margin-bottom: 10px;
        }
        .account-registration__textfield_type_date {
            width: 100%;
            margin-bottom: 10px;
        }
        .account-registration__toggle {
            margin-bottom: 10px;
        }
        .account-registration__button_size_big {
            width: 100%;
            margin-bottom: 20px;
        }
        .account-registration__login {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .account-registration__label {
                color: #000000;
            }
        }
    }
}