.checkbox { //нужно чтобы сложенный и разложенный чек-лист отодвинуть друг от друга
    position: relative;
    margin-bottom: 64px;
}

.checkbox__arrow { //новая иконка
    position: absolute;
    right: 10px;
    color: rgba(31, 32, 65, 0.5);
}

.checkbox__wrapper_{
    display: none; //по умолчанию скрыт
}

.checkbox__wrapper_expanded { //развернут при указанном параметре expanded
    display: block;
}

//Внешний вид чекбокса (основной класс - switchitem.scss)

.checkbox-input + label {
    @extend %switchitem;
    padding-left: 29px;
}

.checkbox-input + label:before {
    @extend %switchitem-before;
    width: 20px;
    border-radius: 4px;
}

.checkbox-input:checked + label:before {
    @extend %switchitem-checked;
    background: url('/boxmark.svg') no-repeat center 40%;
}

//Дополнительные параметры для Rich Checkbox Buttons (текст)
.checkbox__rich-comment {
    font-size: 12px;
    padding-left: 29px;
    position: relative; //нужно, чтобы опустить текст без влияния на нижнего соседа
    top: 5px;
}