mixin checkbox(name, status)
  div.checkbox
    h3.rectang-name= name
    if name=="Expandable Checkbox List"
      if status=="expanded"
        i.material-icons.checkbox__arrow keyboard_arrow_up
        div.switchitem__wrapper
          +switchitem("Завтрак", "", '', 'cb01', '', 'checkbox')
          +switchitem("Письменный стол", "", 'checked', 'cb02', '', 'checkbox')
          +switchitem("Стул для кормления", "", 'checked', 'cb03', '', 'checkbox')
          +switchitem("Кроватка", "", 'checked', 'cb04', '', 'checkbox')
          +switchitem("Телевизор", "", '', 'cb05', '', 'checkbox')
          +switchitem("Шампунь", "", '', 'cb06', '', 'checkbox')
          +switchitem("Телевизор", "", '', 'cb07', '', 'checkbox')
          +switchitem("Шампунь", "", '', 'cb08', '', 'checkbox')
      else
        i.material-icons.checkbox__arrow keyboard_arrow_down

    else if name=="Checkbox Buttons"
      div.switchitem__wrapper
        +switchitem("Можно курить", "", '', 'cb09', '', 'checkbox')
        +switchitem("Можно с питомцами", "", 'checked', 'cb10', '', 'checkbox')
        +switchitem("Можно пригласить гостей (до 10 человек)", "", 'checked', 'cb11', '', 'checkbox')

    else if name=="Rich Checkbox Buttons"
      div.switchitem__wrapper
        +switchitem("Широкий коридор", "Ширина коридоров в номере не менее 91 см.", '', 'cb12', '', 'checkbox')
        +switchitem("Помощник для инвалидов", "На 1 этаже вас встретит специалист и проводит до номера", '', 'cb13', '', 'checkbox')