mixin checkbox(name, status, num)
  div.checkbox
    h3.rectang-name= name
    if name=='Expandable Checkbox List'
      if status=='expanded'
        i.material-icons.checkbox__arrow keyboard_arrow_up
      else
        i.material-icons.checkbox__arrow keyboard_arrow_down
      div(class=`switchitem__wrapper checkbox__wrapper_${status}`)
        +switchitem('Завтрак', '', '', num+'cb01', '', 'checkbox', 'checkbox')
        +switchitem('Письменный стол', '', 'checked', num+'cb02', '', 'checkbox', 'checkbox')
        +switchitem('Стул для кормления', '', 'checked', num+'cb03', '', 'checkbox', 'checkbox')
        +switchitem('Кроватка', '', 'checked', num+'cb04', '', 'checkbox', 'checkbox')
        +switchitem('Телевизор', '', '', num+'cb05', '', 'checkbox', 'checkbox')
        +switchitem('Шампунь', '', '', num+'cb06', '', 'checkbox', 'checkbox')
        +switchitem('Телевизор', '', '', num+'cb07', '', 'checkbox', 'checkbox')
        +switchitem('Шампунь', '', '', num+'cb08', '', 'checkbox', 'checkbox')

    else if name=='Checkbox Buttons'
      div.switchitem__wrapper
        +switchitem('Можно курить', '', '', 'cb09', '', 'checkbox', 'checkbox')
        +switchitem('Можно с питомцами', '', 'checked', 'cb10', '', 'checkbox', 'checkbox')
        +switchitem('Можно пригласить гостей (до 10 человек)', '', 'checked', 'cb11', '', 'checkbox', 'checkbox')

    else if name=='Rich Checkbox Buttons'
      div.switchitem__wrapper
        +switchitem('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', '', 'cb12', '', 'checkbox', 'checkbox')
        +switchitem('Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера', '', 'cb13', '', 'checkbox', 'checkbox')