mixin color(options)
  div.color
    div.color__inner
      div(class=`color__rectangle color__rectangle_theme_${options.theme}`)    
      div.color__specification
        h2.color__title= options.title
        span.color__description= options.description