mixin color(title, description, background)
  div.color.wrapper__color
      div(class=`color__cell ${background}`)
      div.color__cell__inner
        h2.color__title= title
        span.color__description= description
