.font__title {
    font-family: 'Conv_Montserrat-Regular';
    color: rgba(31, 32, 65, 0.25);
    font-weight: normal;
    position: absolute;
    text-align: right;
    width: 37px;
}

.wrapper__font {
    margin-bottom: 50px;
}

.description__inner {
    margin-left: 67px;
    width: 340px; 
    color: #1F2041;
}

.text_body {
    display: inline-block;
    width: 315px;
    line-height: 24px;
    margin-top:-3px;
}