.font__title {
    position: absolute;
    width: 37px;
    text-align: right;
    
    //шрифт
    font-family: 'Conv_Montserrat-Regular';
    color: rgba(31, 32, 65, 0.25);
    font-weight: normal;
}

.wrapper__font {
    margin-bottom: 50px;
}

.description__inner {
    margin-left: 67px;
}

.text_body {
    margin-top:-3px;
    
    //шрифт (хранить именно тут, т.к. если в main-body - влияет на заголовки)
    line-height: 24px;
}