mixin font(options)
  div.font
    div.font__inner
      if options.title=='Body'
        label.font__title= options.title
        label.font__description.font__description_height_s= options.description
      else 
        #{options.title}.font__title= options.title
        #{options.title}.font__description= options.description