mixin listitem(text, counter, status)
  li(class=`listitem ${type}`)
    h3.listitem__h3=text
    div.wrapper__listitem
      button(class=`listitem__button button-minus ${status}`) -
      h3.listitem__counter=counter
      button.listitem__button.button-plus +