.listitem { //элементы списка
    position: relative;
    height: 37px;
}

.listitem__h3 { //наименования
    float: left;
    padding: 12px 0px 0px 13px;
}

.wrapper__listitem { //контейнер с кнопками и счетчиком
    float: right;
    margin: 6px 7px 0px 0px;
}

.listitem__button { //кнопки
    width: 30px;
    height: 30px;

    border: 1px solid rgba(31, 32, 65, 0.25);
    background: white;
    color: rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 22px;
}

.inactive { //неактивная кнопка
    opacity: 0.38;
}

.button-minus { //кнопка "-"
    float: left;
}

.listitem__counter { //счетчик
    padding: 5px 12px 0px 12px;
    float: left;
}