include checkbox

mixin checkbox-list(name, status)
  div(class=`checkbox-list wrapper__checkbox-list ${name}`)
    h3(class=`rectang-name`)= name
    if status=="expanded"
      i.material-icons.checkbox-list__arrow keyboard_arrow_up
      div.checkbox__wrapper
        +checkbox("Завтрак", '', '01')
        +checkbox("Письменный стол", 'checked', '02')
        +checkbox("Стул для кормления", 'checked', '03')
        +checkbox("Кроватка", 'checked', '04')
        +checkbox("Телевизор", '', '05')
        +checkbox("Шампунь", '', '06')
        +checkbox("Телевизор", '', '07')
        +checkbox("Шампунь", '', '08')

    else
      i.material-icons.checkbox-list__arrow keyboard_arrow_down
    