.custom_arrow {
    -webkit-appearance: none; 
    -moz-appearance: none;
     appearance: none;
}

.dropdown__arrow{
    position:absolute;
    right:10px;
    top:33px;
    color: rgba(31, 32, 65, 0.5);
} 

.dropdown_date{
    width: 150px;
    float: left;
    margin-right: 20px;
}

.wrapper__input-date input{
    width: 150px;
}