.custom-arrow { //убираем кастомную иконку
    -webkit-appearance: none; 
    -moz-appearance: none;
     appearance: none;
}

.dropdown__arrow { //новая иконка
    position: absolute;
    right: 10px;
    top: 34px;
    color: rgba(31, 32, 65, 0.5);
} 

.dropdown-date { //флоат заголовков с инпутами (класс, полученный с аргумента type)
    width: 150px;
    float: left;
    margin-right: 20px;
}

.dropdown .dropdown-guests input{ //ширина инпута с гостями
    width: 320px;
}

.wrapper__date-dropdown, .wrapper__dropdown { //контейнер для инпута и иконки
    position: relative;
    margin-bottom: 12px;
}

.wrapper__date-dropdown input { //переопределение ширины инпута с датой
    width: 150px;
}

.wrapper__dropdown input { //переопределение ширины инпута
    width: 266px;
}

////////////////ВЫПАДАЮЩИЙ СПИСОК

.dropdown .dropdown__ul { //выпадающий список
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;

    width: 266px;
    height: 119px;
    top: 150px;
}

.dropdown .ul_expanded { //внешний вид списка при выпадении
    display: block;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.dropdown .input_expanded { //внешний вид инпута при выпадении списка
    border-radius: 4px 4px 0px 0px;
    border: 1px solid rgba(31, 32, 65, 0.5);
}