.wrapper__textfield {
    margin-bottom: 13px;
}

.wrapper__subscription-textfield input {
    width: 266px;
}

.wrapper__subscription-textfield { //контейнер для инпута и иконки
    position: relative;
}

.subscription__arrow { //новая иконка
    position: absolute;
    right: 10px;
    top: 33px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text; //обрезаем фон по границе текста
    -webkit-text-fill-color: transparent; //устанавливаем прозрачность текста
} 
