.textfield__input {
    width: 320px;
}

.textfield__input:hover, .textfield__input:focus, .textfield .input_hover{
    border: 1px solid rgba(31, 32, 65, 0.5);
}

.wrapper__textfield {
    margin-bottom: 13px;
}
