include ../../blocks/ColorsAndType/color
include ../../blocks/ColorsAndType/font
include ../../blocks/FontElements/textfield
include ../../blocks/FontElements/dropdown

mixin sheet(name)
  if name=="ColorsAndTypes"
    div(class=`sheet ${name}`)
      div.sheet__inner
        include logo.svg
      div.colors-wrapper
        +color("Dark Shade 100%", "#1F2041", 'dark100')
        +color("Dark Shade 75%", "#1F2041", 'dark75')
        +color("Dark Shade 50%", "#1F2041", 'dark50')
        +color("Dark Shade 25%", "#1F2041", 'dark25')
        +color("Dark Shade 5%", "#1F2041", 'dark5')
        +color("Purple", "#BC9CFF", 'purple')
        +color("Green", "#6FCF97", 'green')

      div.fonts-wrapper
        +font("H1", "This one is the sub-section or widget title")
        +font("H2", "Next one is the item title inside widgets")
        +font("H3", "This is a label or cta text")
        +font("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")

  if name=="Cards"
    div(class=`sheet ${name}`)
      div.sheet__inner
        include logo.svg

  if name=="HeadersAndFooters"
    div(class=`sheet ${name}`)
      div.sheet__inner
        include logo.svg

  if name=="FormElements"
    div(class=`sheet ${name}`)
      div.sheet__inner
        include logo.svg
      div.textfields-wrapper
        +textfield("Text Field", "", "Email", 'Default')
        +textfield("Text Field", "This is pretty awesome", "", 'Hover / Focus')
      div.dropdowns-wrapper
        +dropdown("Dropdown", "", "Сколько гостей", 'Default', 'dropdown-guests')
      div.textfields-data-wrapper  
        +textfield("Masked Text Field", "", "ДД.ММ.ГГГГ", 'Default') 
      div.dropdowns-data-wrapper
        +dropdown("Date Dropdown", "", "ДД.ММ.ГГГГ", '', 'dropdown-date')
        +dropdown("Date Dropdown", "19.08.2019", "ДД.ММ.ГГГГ", '', 'dropdown-date')
      div.dropdowns-filter-data-wrapper
        +dropdown("Filter Date Dropdown", "", "19 авг - 23 авг")
      div.textfields-subscription-wrapper  
        +textfield("Subscription Text Field", "", "Email")
      div.dropdowns-expanded-wrapper
        +dropdown("Dropdown", "", "2 спальни, 2 кровати...", 'Default', 'dropdown-rooms')
        +dropdown("Dropdown", "", "2 спальни, 2 кровати...", 'expanded', 'dropdown-rooms')