////////////////////Стиль для каждого раздела////////////////////

.sheet {
    position: relative;
    width: 1440px;
    border: 1px solid black;
    margin: 10px 10px;
}

.sheet__inner {
    position: absolute;
    margin: 30px;
}

///////////////Расположение и размер каждого раздела///////////////

%floats {
    display: block;
    float: left;
}

.ColorsAndTypes {
    background: #FFFFFF;
    height: 900px;
    @extend %floats;
}

.Cards, .HeadersAndFooters{
    float: right;
    background: #F4F4F6;
    height: 1350px;
    @extend %floats;
}

.FormElements {
    background: #FFFFFF;
    height: 1853px;
    @extend %floats;
}

//////////ColorsAndTypes//////////

.colors-wrapper, .fonts-wrapper {
    position: absolute;
    top: 145px;
}
  
.colors-wrapper {
    left: 150px;
    width: 269.26px;
    height: 610px;
}
  
.fonts-wrapper {
    left: 846px;
    width: 403px;
    height: 321px;
}

//////////FormElements//////////

%first-column {
    position: absolute; 
    left: 141px;
}

%second-column {
    position: absolute; 
    left: 587px;
}

.textfields-wrapper {
    @extend %first-column;
    top: 140px; 

    width: 320px;
    height: 150px;
}

.dropdowns-wrapper {
    @extend %first-column;
    top: 309px; 

    width: 320px;
    height: 65px;
}

.textfields-data-wrapper {
    @extend %first-column;
    top: 395px; 

    width: 320px;
    height: 65px;
}  

.dropdowns-data-wrapper {
    @extend %first-column;
    top: 500px; 

    width: 340px;
    height: 65px;
}

.dropdowns-filter-data-wrapper {
    @extend %first-column;
    top: 604px; 

    width: 266px;
    height: 65px;
}

.textfields-subscription-wrapper {
    @extend %first-column;
    top: 709px; 

    width: 266px;
    height: 65px;
}

.dropdowns-expanded-wrapper {
    @extend %first-column;
    top: 873px; 

    width: 266px;
    height: 266px;
}

.expandable-checkbox-list-wrapper {
    @extend %first-column;
    top: 1193px; 

    width: 266px;
    height: 341px;
}

.advantages-wrapper {
    @extend %first-column;
    top: 1563px; 

    width: 291px;
    height: 150px;
}

.checkbox-buttons-wrapper {
    @extend %second-column;
    top: 140px; 

    width: 222px;
    height: 130px;
}

.radiobuttons-wrapper {
    @extend %second-column;
    top: 309px; 

    width: 222px;
    height: 55px;
}

.toggle-wrapper {
    @extend %second-column;
    top: 400px; 

    width: 260px;
    height: 89px;
}

.likebutton-wrapper {
    @extend %second-column;
    top: 530px; 

    width: 90px;
    height: 51px;
}

.ratebutton-wrapper {
    @extend %second-column;
    top: 622px; 

    width: 260px;
    height: 55px;
}

.rich-checkbox-buttons-wrapper {
    @extend %second-column;
    top: 1193px; 

    width: 266px;
    height: 145px;
}