////////////////////Стиль для каждого раздела////////////////////

.sheet {
    position: relative;
    width: 100%;
    max-width: 1440px;
    border: 1px solid black;
    margin: 10px 10px;
}

.sheet__inner {
    width: 100%;
    max-width: 48px;
    margin: 30px;
}

///////////////Расположение и размер каждого раздела///////////////

%floats {
    display: block;
    float: left;
}

.ColorsAndTypes {
    background: #FFFFFF;
    height: 900px;
    @extend %floats;
}

.Cards, .HeadersAndFooters{
    float: right;
    background: #F4F4F6;
    height: 1350px;
    @extend %floats;
}

.FormElements {
    background: #FFFFFF;
    height: 1853px;
    @extend %floats;
}

//////////ColorsAndTypes//////////

.colors-wrapper, .fonts-wrapper {
    position: absolute;
    width: 100%;
    top: 145px;
    //border: 1px solid black;
}
  
.colors-wrapper {
    left: 150px;
    max-width: 270px;
}
  
.fonts-wrapper {
    left: 846px;
    max-width: 403px;
}

//////////FormElements//////////

%first-column {
    position: absolute; 
    width: 100%;
    left: 141px;
    //border: 1px solid black;
}

%second-column {
    position: absolute; 
    width: 100%;
    left: 587px;
    //border: 1px solid black;
}

%third-column {
    position: absolute; 
    width: 100%;
    left: 979px;
    //border: 1px solid black;
}

%fourth-column {
    position: absolute; 
    width: 100%;
    left: 1098px;
    //border: 1px solid black;
}

.textfields-wrapper {
    @extend %first-column;
    top: 140px; 
    max-width: 320px;
}

.textfields-hover-wrapper {
    @extend %first-column;
    top: 225px; 
    max-width: 320px;
}

.dropdowns-guests-wrapper {
    @extend %first-column;
    top: 309px; 
    max-width: 320px;
}

.textfields-data-wrapper {
    @extend %first-column;
    top: 395px; 
    max-width: 320px;
}  

.dropdowns-data-wrapper {
    @extend %first-column;
    top: 500px; 
    max-width: 340px;
}

.dropdowns-filter-data-wrapper {
    @extend %first-column;
    top: 604px; 
    max-width: 266px;
}

.textfields-subscription-wrapper {
    @extend %first-column;
    top: 709px; 
    max-width: 266px;
}

.dropdowns-rooms-wrapper {
    @extend %first-column;
    top: 873px; 
    max-width: 266px;
}

.dropdowns-roomsExp-wrapper {
    @extend %first-column;
    top: 957px; 
    max-width: 266px;
}

.checkbox-list-wrapper {
    @extend %first-column;
    top: 1193px; 
    max-width: 266px;
}

.checkbox-list-expanded-wrapper {
    @extend %first-column;
    top: 1256px;
    max-width: 266px;
    height: 270px;
}

.advantages-wrapper {
    @extend %first-column;
    top: 1563px; 
    max-width: 291px;
}

.checkbox-buttons-wrapper {
    @extend %second-column;
    top: 140px; 
    max-width: 222px;
    height: 130px;
}

.radiobuttons-wrapper {
    @extend %second-column;
    top: 309px; 
    max-width: 222px;
    height: 57px;
}

.toggle-checked-wrapper {
    @extend %second-column;
    top: 400px; 
    max-width: 260px;
    height: 56px;
}

.toggle-wrapper {
    @extend %second-column;
    top: 456px; 
    max-width: 260px;
    height: 56px;
}

.likebutton-wrapper {
    @extend %second-column;
    top: 530px; 
    max-width: 90px;
    height: 57px;
}

.likebutton-checked-wrapper {
    @extend %second-column;
    left: 638px;
    top: 530px; 
    max-width: 90px;
    height: 57px;
}

.ratebutton-wrapper {
    @extend %second-column;
    top: 622px; 
    max-width: 120px;
}

.ratebutton-full-wrapper {
    @extend %second-column;
    top: 640px;
    left: 727px;
    max-width: 120px;
}

.dropdowns-guestsExpE-wrapper {
    @extend %second-column;
    top: 873px; 
    max-width: 320px;
}

.rich-checkbox-buttons-wrapper {
    @extend %second-column;
    top: 1193px; 
    max-width: 266px;
    height: 148px;
}

.rangeslider-wrapper {
    @extend %third-column;
    top: 140px; 
    max-width: 266px;
    height: 52px;
}

.button-default-v-wrapper {
    @extend %third-column;
    top: 228px; 
    max-width: 99px;
}

.button-hover-v-wrapper {
    @extend %fourth-column;
    top: 246px; 
    max-width: 99px;
}

.button-default-w-wrapper {
    @extend %third-column;
    top: 322px; 
    max-width: 99px;
}

.button-hover-w-wrapper {
    @extend %fourth-column;
    top: 322px; 
    max-width: 99px;
}

.textbutton-v-wrapper {
    @extend %third-column;
    top: 408px; 
    max-width: 61px;
}

.textbutton-g-wrapper {
    @extend %fourth-column;
    top: 408px; 
    max-width: 61px;
}