mixin bulletlist(options)
  div.bulletlist
    - const items = `${options.item}`.split(';')
    
    if options.name!='' && options.name!=undefined
      div(class=`bulletlist__name bulletlist__name_type_${options.ntype}`)
        +caption({name: options.name, type: options.ntype})
    
    ul.bulletlist__list
      - for (i=0; i<items.length; i++)
        div.bulletlist__inner
          div.bulletlist__marker
        li.bulletlist__item= items[i]