.checkitem {
    margin-top: 12px;
    color: rgba(31, 32, 65, 0.5);
}

.checkitem__input { //скрываем кастомный чекбокс
    display: none;
    position:absolute;
}

.checkitem__input + label {
    position: relative;
    cursor: pointer;
    padding-left: 29px;
}

.checkitem__input + label:before {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

    content: '';
	position: absolute;
	left: -1px;
}

.checkitem__input:checked + label:before { // если галочка стоит
    border: 1px solid #BC9CFF;
    background: url('/Vector.svg') no-repeat center 40%;
}

//Rich Checkbox Buttons (текст)
.checkitem__rich-comment {
    font-size: 12px;
    padding-left: 29px;
    position:relative; //нужно, чтобы опустить текст без влияния на нижнего соседа
    top:5px;
}