.rectang-name { //заголовок инпута
    display: block;
    float: left;
    margin-top: 3px;
}


.rectang-status { //статус
    display: block;
    float: right;
    
    width: 110px;
    text-align: right;

    font-family: 'Conv_Montserrat-Regular';
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
}

.rectang {
    height: 44px;
    width: 320px;

    margin: 5px 0px;
    padding: 0px 13px;

    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;

    background: #FFFFFF;
    
    //шрифт набираемого текста в инпуте
    color: rgba(31, 32, 65, 0.75);
    font-family: 'Conv_Montserrat-Light';
    font-weight: bold;
    font-size: 14px;
    //line-height: 24px;
}

.rectang:hover, .rectang:focus, .textfield ._hover{
    border: 1px solid rgba(31, 32, 65, 0.5);
}

div:hover > .dropdown__arrow { //менять цвет иконки при наведении на инпут
    color: rgba(31, 32, 65, 0.75);
}