mixin radiobutton(options)
  div.radiobutton
    if options.name!=''
      div.radiobutton__name
        +caption({name: options.name})
        
    if options.status=='checked'
      input.radiobutton__input(type="radio" name="gender" id=`radiobtn${options.id}` checked)
    else
      input.radiobutton__input(type="radio" name="gender" id=`radiobtn${options.id}`)
    label.radiobutton__label(for=`radiobtn${options.id}`)
    label.radiobutton__text(for=`radiobtn${options.id}`)=options.text