mixin radiobutton(name)
  div.radiobutton
    h3.rectang-name= name
    div.switchitem__wrapper
      div.wrapper__switchitem-left
        +switchitem("Мужчина", "", 'checked', 'rd01', 'gender', 'radio', 'radio')
      div.wrapper__switchitem-right
        +switchitem("Женщина", "", '', 'rd02', 'gender', 'radio', 'radio')