.caption__h3_theme_purple {
    color: #BC9CFF;
}

.caption__h3_theme_grey {
    color: rgba(31, 32, 65, 0.5);
}

.caption__h3_theme_white {
    color: #FFFFFF;
}

.caption__h3_theme_status {
    display: block;
    float: right;

    font-weight: 400;
    color: rgba(31, 32, 65, 0.5);
}