mixin caption(options)
  div.caption
    if options.type != "h2"
      h3(class=`caption__text caption__text_theme_${options.theme}`)= options.name
    else
      h2(class=`caption__text caption__text_theme_${options.theme}`)= options.name