mixin rangeslider(options)
  div.rangeslider
    input.rangeslider__input(type="text" id="amount" readonly)

    if options.name!='' && options.name!=undefined
      div.rangeslider__name
        +caption({name: options.name})
        
    div.slider-range

    if options.comment!='' && options.comment!=undefined
      label.rangeslider__comment= options.comment