mixin rangeslider(options)
  div.rangeslider
    input.rangeslider__input(type="text" id="amount" readonly)

    if options.name!=''
      div.rangeslider__name
        +caption({name: options.name})
        
    div.slider-range