mixin likebutton(name, status)
  div.likebutton
    h3.rectang-name= name
    div.switchitem__wrapper
      if status == 'checked'
        +switchitem('', '12', 'checked', 'lb02', '', 'checkbox', 'like')
      else
        +switchitem('', '2', '', 'lb01', '', 'checkbox', 'like')