mixin likebutton(name)
  div.likebutton
    h3.rectang-name= name
    div.switchitem__wrapper
      div.wrapper__switchitem-left
        +switchitem("", "2", '', 'lb01', '', 'checkbox', 'like')
      div.wrapper__switchitem-right
        +switchitem("", "12", 'checked', 'lb02', '', 'checkbox', 'like')