mixin footer(options)
  div.footer
    div.footer__inner
      +company-logo()
      label.footer__logo-text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      +social-networks-logo()