mixin room-selection(options)
  div.room-selection
    div.room-selection__inner
      h1.room-selection__title Найдём номера под ваши пожелания
      +date-dropdown({hint: "ДД.ММ.ГГГГ", type: 'date',
                      name: "Прибытие,Выезд"})
      div.room-selection__dropdown_type_guests
        +dropdown({name:"Гости", value: "", hint: "Сколько гостей", type: 'guests',
                 item: "Взрослые,Дети,Младенцы",
                 counter: "0,0,0"})
      +button({text: "Подобрать номер", textcolor: 'white', size: 'big'})