mixin button(options)
  div.button
    if options.name!=''
      div.button__name
        +caption({name: options.name})
        
    button(class=`button__rectangle button__rectangle_${options.status}`)
      div(class=`button__substrate button__substrate_theme_${options.theme}`)
        +caption({name: 'Click Me', theme: options.textcolor})