mixin button(options)
  div.button
    if options.name!='' && options.name!=undefined
      div.button__name
        +caption({name: options.name})
        
    button(class=`button__rectangle button__rectangle_${options.status} button__rectangle_size_${options.size}`)
      div(class=`button__substrate button__substrate_theme_${options.theme}`)
        +caption({name: options.text, theme: options.textcolor})
      if options.size=='big'
        div.button__icon
          +icon({name: 'arrow_forward', theme: 'white'})