.button__name {
	margin-bottom: 17px;
}

.button__rectangle {
    width: 100%;
    max-width: 99px;
    height: 44px;

    border-radius: 22px;
    border: 0px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.button__rectangle:hover, .button__rectangle:focus, .button__rectangle_selected {
    opacity: 0.5;
}

.button__rectangle_type_payment {
    max-width: 320px;
}

.button__substrate_theme_white {
    background: #FFFFFF;
    border-radius: 22px;
    height: 40px;
    width: 95px;
    transform: translateX(-4%);

    display: flex;
    align-items: center;
    justify-content: center; 
}

.button__icon {
    position: absolute;
    right: 10px;
    top: 10px;
}