mixin header(options)
  div.header
    div.header__inner
      +company-logo()
      div(class=`header__menu header__menu_type_${options.type}`)
        label.header__home Home
        label.header__info About Us
        div.header__services
          label.header__services-text Services
          div.header__services-icon
            +icon({name: 'keyboard_arrow_down'})
        label.header__careers Careers
        label.header__news News
        label.header__documentation Documentation
        if options.type == 'register' && options.type!=undefined
          div.header__login-button
            +button({theme: 'white', text: 'Login', textcolor: 'purple', size: 'small', height: 'small'})
          div.header__register-button
            +button({text: 'Register', textcolor: 'white', height: 'small'})
        else
          div.header__cosmin-wrapper
            label.header__cosmin Cosmin Negolita

