mixin review(options)
  div.review

    +caption({name: options.amount, theme: 'amount'})
    if options.name!='' && options.name!=undefined
      div.review__name
        +caption({name: options.name, type: "h2"})

    div.review__inner
      div.review__userpic
        div.review__img-wrapper
          img.review__img(src=require("../../blocks/FormElements/review/review_" + options.userpic + ".png"))
      div.review__specification
        label.review__person= options.person
        label.review__date= options.date
    div.review__inner
      div.review__likebutton
        +likebutton({text: options.like, status: options.lstatus, id: 'review01'})
      label.review__comment= options.comment